Source: accounts-qml-module
Section: libs
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: dbus-test-runner,
               debhelper (>= 9),
               libaccounts-qt5-dev (>= 1.10),
               libsignon-qt5-dev (>= 8.50),
               pkg-config,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qml-module-qtquick2,
               qtchooser,
               qt5-qmake,
               qttools5-dev-tools,
               xauth,
               xvfb,
Standards-Version: 4.0.0
Homepage: https://launchpad.net/accounts-qml-module
Vcs-Bzr: https://code.launchpad.net/~online-accounts/accounts-qml-module/trunk

Package: qml-module-ubuntu-onlineaccounts
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qml-module-qtquick2,
Breaks: qtdeclarative5-accounts-plugin (<= 0.5+14.10.20141006-0ubuntu1)
Replaces: qtdeclarative5-accounts-plugin (<= 0.5+14.10.20141006-0ubuntu1)
Description: Expose the Online Accounts API to QML applications
 This module provides access to the Online Accounts framework from QML
 applications.

Package: accounts-qml-module-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Online Accounts QML - documentation
 This module provides access to the Online Accounts framework from QML
 applications.
 .
 This package contains developer documentation.

